{:aliases  {:dev {:extra-paths ["src"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                               camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}}}

            :test {:extra-paths []}}}
